// --- Paleta de cores globais
$main_purple: #4f52e5;
$font_purple: #2b2d92;
$main_red: #fa063a;
$btn_green: #51d7a1;
$bg_white: #f8f9fe;

// --- Botões
.main-btn {
    background-color: $btn_green;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-right: 15px;
}

.fab-btn {
    background-color: $main_purple;
    width: 2.8rem;
    height: 2.8rem;
}

.mat-fab .mat-button-wrapper {
    padding: 0 !important;
}

.remove {
    background-color: $main_red;
}


// --- Fields
.mat-form-field-wrapper {
    padding-bottom: 0;
    width: 100%;
}

.mat-form-field {
    width: 100%;
}