<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container justify-content-lg-between justify-content-md-between justify-content-sm-center justify-content-center">
        <img src="../../assets/imgs/logo-alta.png" class="img-fluid my-2" width="280px">
        <h2 class="text-white">Previsão do Tempo <small class="text-muted">SP - São Paulo</small></h2>
    </div>
</nav>
<div class="container">
    <div class="col-lg-12">
        <mat-card class="mat-elevation-z0">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12 form">
                    <h4 class="mb-2">Filtrar por:</h4>
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label><small>Dia da Semana</small></mat-label>
                            <mat-select fullWidth [(ngModel)]="position" (selectionChange)="changeWeekDay()">
                                <mat-option [value]="-1">
                                    Todos os dias
                                </mat-option>
                                <mat-option [value]="-2">
                                    Toda a semana
                                </mat-option>
                                <ng-container *ngFor="let for of forecastDays; index as i">
                                    <mat-option [value]="i">
                                        {{ for.date }} - {{ for.weekday }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-12 form">
                    <h4 class="mb-2">Intervalo:</h4>
                    <div class="col-12">
                        <mat-form-field class="w-25 limit" appearance="outline">
                            <mat-label><small>Primeiro Dia</small></mat-label>
                            <mat-select [(ngModel)]="firstDay" (selectionChange)="sliceForecast()">
                                <ng-container *ngFor="let for of forecastDays; index as i">
                                    <mat-option [value]="i">
                                        {{ for.date }} - {{ for.weekday }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <span class="m-2">até</span>
                        <mat-form-field class="w-25 limit" appearance="outline">
                            <mat-label><small>Último Dia</small></mat-label>
                            <mat-select [(ngModel)]="lastDay" (selectionChange)="sliceForecast()">
                                <ng-container *ngFor="let for of forecastDays; index as i">
                                    <mat-option [value]="i">
                                        {{ for.date }} - {{ for.weekday }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <p>Próximos 10 Dias: </p>
                    <h3>Min. <strong>{{ minTemp }}ºC</strong> | Máx. <strong>{{ maxTemp }}ºC</strong></h3>
                </div>
                <div *ngIf="position >= 0" class="col-lg-5 col-md-5 col-sm-12 col-12 mt-3">
                    <div class="weather p-4" [ngClass]="{
                        'storm': forecastDays[position].condition === 'storm', 
                        'cloud': forecastDays[position].condition === 'cloud' || forecastDays[position].condition === 'fog',
                        'cloudly-day': forecastDays[position].condition === 'cloudly_day' || forecastDays[position].condition === 'cloudly_night' || forecastDays[position].condition === 'clear_day' || forecastDays[position].condition === 'clear_night', 
                        'rain': forecastDays[position].condition === 'rain' }">
                        <h2>{{ forecastDays[position].date }} - {{ forecastDays[position].weekday }} <small
                                class="text-secondary">{{ forecastDays[position].description
                                }}</small>
                            <fa-icon *ngIf="forecastDays[position].condition === 'rain'" class="m-2" [icon]="faCloudRain">
                            </fa-icon>
                            <fa-icon *ngIf="forecastDays[position].condition === 'cloud' || forecastDays[position].condition === 'fog'" class="m-2"
                                [icon]="faCloud"></fa-icon>
                            <fa-icon *ngIf="forecastDays[position].condition === 'cloudly_day' || forecastDays[position].condition === 'cloudly_night'"
                                class="m-2" [icon]="faCloudSun"></fa-icon>
                            <fa-icon *ngIf="forecastDays[position].condition === 'storm'" class="m-2" [icon]="faCloudShowersHeavy">
                            </fa-icon>
                            <fa-icon *ngIf="forecastDays[position].condition === 'clear_day' || forecastDays[position].condition === 'clear_night'"
                                class="m-2" [icon]="faSun"></fa-icon>
                        </h2>
                        <h4>Temp. Mínima: {{ forecastDays[position].min }}ºC - Temp. Máxima: {{
                            forecastDays[position].max }}ºC</h4>
                    </div>
                </div>
                <div class="mt-3 flex" *ngIf="position < 0">
                    <div class="row w-100">
                        <div *ngFor="let for of forecast" class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="weather p-4" [ngClass]="{
                            'storm': for.condition === 'storm', 
                            'cloud': for.condition === 'cloud' || for.condition === 'fog',
                            'cloudly-day': for.condition === 'cloudly_day' || for.condition === 'cloudly_night' || for.condition === 'clear_day' || for.condition === 'clear_night', 
                            'rain': for.condition === 'rain' }">
                                <h2>{{ for.date }} - {{ for.weekday }} <small class="text-secondary">{{ for.description
                                        }}</small>
                                    <fa-icon *ngIf="for.condition === 'rain'" class="m-2" [icon]="faCloudRain">
                                    </fa-icon>
                                    <fa-icon *ngIf="for.condition === 'cloud' || for.condition === 'fog'" class="m-2"
                                        [icon]="faCloud"></fa-icon>
                                    <fa-icon
                                        *ngIf="for.condition === 'cloudly_day' || for.condition === 'cloudly_night'"
                                        class="m-2" [icon]="faCloudSun"></fa-icon>
                                    <fa-icon *ngIf="for.condition === 'storm'" class="m-2" [icon]="faCloudShowersHeavy">
                                    </fa-icon>
                                    <fa-icon *ngIf="for.condition === 'clear_day' || for.condition === 'clear_night'"
                                        class="m-2" [icon]="faSun"></fa-icon>
                                </h2>
                                <h4>Temp. Mínima: {{ for.min }}ºC - Temp. Máxima: {{ for.max }}ºC</h4>
                            </div>
                        </div>
                        <div *ngIf="forecast.length == 0" class="col-12">
                            <h3 class="text-muted text-center">Nenhuma Informação Disponível</h3>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<footer>
    <div class="container py-4">
        <p class="text-muted text-center">2021 - Feito por: Gustavo de Oliveira. Proposto por E-Construmarket</p>
    </div>
</footer>